/* Banner Image */

.banner {
    position: relative; 
    max-height: 350px;
    z-index: 1;
}

.banner-img {
    width: 100%; 
    height: auto; 
    object-fit: cover; 
    max-height: 300px;
}

.circle-logo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 230px;
    left: 20px;
    z-index: 2;
}

.logo-img {
    width: 100%;
    height: auto;
}


/* body-font */

body{
    font-family: 'Poppins', sans-serif;
    background-color: black;
    color: white;
}


/* Navbar */

.navbar {
    padding: 10px;
    position: absolute;
    top: 300px;
    right: 10px;
    z-index: 2;
}

.nav-list {
    list-style-type: none;
    padding: 0;
}

.nav-list li {
    display: inline;
    margin-right: 10px;
}

.nav-list li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
}

/* description */

.description {
    text-align: left;
}

.description p {
    font-size: medium; 
    margin-top: 100px; 
}
